*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    margin-top: 5%;
    text-align: center;
    text-decoration: solid;
    font-size: 50px;
}

.container{
    height:500px;
    width:500px;
    position:absolute;
    box-shadow: 5px 5px 1px 1px rgba(8, 103, 245, 0.5);
    display: grid;
    padding:0px;
    transform:translate(-50%,-50%);
    top: 55%;
    left:50%;
    gap: 0px 0px;
    grid-template-columns: repeats(20,1fr);
    grid-template-rows: repeats(20,1fr);
    grid-template-areas: 
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . .";
}

.pixel{
    height: 23.5px;
    width:23.5px;
    margin:0px;
    border: 2px solid rgb(21, 90, 194);
    background-color:aqua;
}
.pixel:hover{
    background-color: rgb(20, 145, 228);
}