* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .AddingTodo {
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
  
}

.del
{
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 2px 2px;
    display: inline-block;
    background-color: rgba(219, 125, 9, 0.774);
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.card
{
    height: 70vh;
    width: 40vw;
    flex-direction: column;
    background-color: rgb(25, 126, 221);
    margin: 20px 0px;
    overflow-y: scroll;
}

.AddBtn
{
    margin: 5px 18vw;
    background-color: rgba(149, 172, 206, 0.89);
    width:5vw;
    border-radius: 3px;
    border: 2px solid rgb(6, 66, 230);
}

.inputText
{
    border: 2px solid black;
    width:10.8vw;
    margin: 5px 15vw;
}