*{
    margin:0px;
    box-sizing: border-box;
    border: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: aqua;
  }
  .grid {
    margin-top: 20vh;
    width: 450px;
    height: 450px;
    border: 10px solid black;
    display: flex;
  }
  /* .row{
      display: flex;
  } */
  .box {
    width: 54px;
    height: 54px;
    background-color: white;
    border: 1px solid white;
  }
  .row:nth-child(odd) .box:nth-child(even) {
    background-color: black;
  }
  .row:nth-child(even) .box:nth-child(odd) {
    background-color: black;
  }