*{
    margin:0px;
    box-sizing: border-box;
    border: 0px;
}
body
{
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(3, 19, 43, 0.884), rgba(180, 199, 218, 0.712));
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    width: 35vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 57, 116);
    flex-direction: column;
    border: 10px solid rgb(6, 21, 49);
    border-radius: 10px;
  }
  
h1{
  margin-bottom: 5vh;
  border-radius: 10px;
  width: 30vw;
  height: 10vh;
  background-color: rgb(67, 126, 235);
  text-align: center;
  font-weight: bold;
  color: rgb(33, 50, 146);
  border: 5px solid rgb(3, 50, 146);
  font-family: sans-serif;
  padding: 12px;
}
  .grid {
    padding: 1px;
    width: 450px;
    height: 450px;
    border: 8px solid black;
    display: flex;
    background-color: white;
  }
  /* .row{
      display: flex;
  } */
  .box {
    width: 54px;
    height: 54px;
    background-color: white;
    border: 1px solid white;
  }
  .row:nth-child(odd) .box:nth-child(even) {
    background-color: black;
  }
  .row:nth-child(even) .box:nth-child(odd) {
    background-color: black;
  }

  .box:hover{
    cursor: pointer;
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
  }