body{
    
    height: 95vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px  solid rgb(0, 0, 0);
    position:relative;
    box-shadow: 50px 10px 50px;
    
}
.min
{
    border-radius: 0% 50% 50% 0%;
    background-color: black;
    position: absolute;
    width: 150px;
    height: 2px;
    top: 50%;
    left: 50%;  
    transform-origin: left;
    
    animation: sec 3600s  linear infinite;   
}
.hour
{
    border-radius: 0% 50% 50% 0%;
    background-color: rgb(0, 0, 0);
    position:absolute;
    width: 90px;
    height: 2px;
    top: 50%;
    left: 50%;  
    transform-origin: left;
    
    animation: min 216000s linear infinite;   
}
.second
{
    border-radius: 0% 50% 50% 0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 145px;
    height: 2px;
    top: 50%;
    left: 50%;  
    transform-origin: left;
    transform: translateY(50%);

    animation: sec 60s steps(60,end) infinite;   
}
.dot
{
    border-radius: 50%;
    background-color: black;
    width: 4%;
    height: 4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
} 

@keyframes sec{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

@keyframes min {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes hour {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}