*
{
  margin: 0px;
  border:0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  background-color: rgb(1, 121, 214);
}
.App
{
  margin: 20vh 10vw;
  text-align: center;
  background-color:rgb(71, 121, 214);
  border: 4px solid black;
  border-radius: 5px;
  height: 40vh;
  width: 40vw;
  
}
span
{
  font-size: 100px;
  
}
button
{
  text-align: center;
  font-size: 100px;
  width: 5vw;
  margin: 2vh;
  border: 4px solid rgb(3, 39, 73);
  border-radius: 5px;
}
h1{
  margin: 5vh 14vw;
  background-color: rgb(3, 39, 73);
  width: 12vw;
  height: 6vh;
  padding: 20px;
  color: white;
  font-size: 40px;
  border-radius: 5px;
  border: 4px solid rgb(1, 27, 43);
}